
* {
  box-sizing: border-box;
}

.editor {
  width: 100%;
  height: 100%;
  display: flex;
}

.editor-canvas {
  width: calc(100% - 320px);
  margin: 0;
}

.editor-canvas-visual-guide {
  background-image: radial-gradient(#78716C 20%, transparent 20%), radial-gradient(#FAFAFA 20%, transparent 20%);
  background-color: rgb(226 232 240);
  background-position: 0 0, 25px 25px;
  background-size: 10px 10px;
}

.editor-picker {
  width: 320px;
  border-left: 1px solid black;
}
