
.editor {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}

.editor-canvas {
  width: calc(100% - 400px);
  margin: 0;
  padding: 0;
}

.editor-picker {
  padding: 25px;
  width: 400px;
  border-left: 1px solid black;
}
